*{
    
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('iot1.jpg');
    background-size: cover;
}
.header{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.bodyer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(15, 9, 43);
    opacity:0.5;
}
.tittle{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: aliceblue;
}
.titlecon{

    align-items: center;
    width: 100%;
    height: 60%;
    border: 2px white;
    border-style: solid;
    text-align: center;
}
.bodytittle{
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#tieude{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: aqua;
    border: 2px white;
    border-style: solid;
}
.menu{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.room{
    width: 30%;
    height: 90%;
    border: 2px white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.roomtittle{
    width: 100%;
    height: 25%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px white;
    border-style: solid;
    color: rgb(92, 255, 255);

}
.roomtext{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(185, 255, 255);
    border: 1px white;
    border-style: solid;
    font-weight: bold;
    font-size: 20px;
}
.roomfooter{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#btntruycap{
    display: flex;
    width: 220px;
    height: 50px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 17px;
}
.footertext{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    opacity: 1;
}
